@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

li, a{
	font-family: Poppins;
	font-weight: 500;
	font-size: 3rem;
	color: white;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #00394f;
}

.logo{
	cursor: pointer;
	font-size: 4rem;
	font-weight: 500;
	font-family: Poppins;
	color: white;
}

.navbar{
	list-style: none;
}

.navbar li{
	display: inline-block;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	margin-right: 50px;
	letter-spacing: 5px;
	font-weight: 300;
}

.navbar li a{
	transition: all 0.3s ease 0s;
}

.navbar li a:hover{
	color: white;
}

/* end header */


/* hero section */

.peta-title{
	font-size: 5rem;
	display: grid;
	position: relative;
	padding: 30px 0;
	font-family: Poppins;
	font-weight: 500;
	color: #00394f;
	letter-spacing: 10px;
	align-items: center;
}
svg path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover{
    fill: #006284;
    transition: .6s;
    cursor: pointer;
}
/* end hero section */

/* project section */
#projects .projects {
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

#projects .projects .projects-header{
	font-size: 30px;
}

h1, h2, p{
	padding: 10px;
	background-color: #00394f;
}

.project-item{
	border: 10px solid;
	margin-bottom: 50px;

}

/* end project section */
